.wp-block-hrscourses-list-courses:not(.is-style-bulleted) {
	padding: 0;
}

.wp-block-hrscourses-list-courses:not(.is-style-bulleted) > li {
	list-style: none;
	margin-bottom: 1.5em;
}

.wp-block-hrscourses-list-courses.alignleft {

	/*rtl:ignore*/
	margin-right: 2em;
}

.wp-block-hrscourses-list-courses.alignright {

	/*rtl:ignore*/
	margin-left: 2em;
}

.wp-block-hrscourses-list-courses.is-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.wp-block-hrscourses-list-courses.is-grid li {
	list-style: none;
	margin: 0 16px 16px 0;
	width: 100%;
}

@media (min-width: 600px) {

	.wp-block-hrscourses-list-courses.columns-2 > li {
		width: calc((100% / 2) - 16px);
	}

	.wp-block-hrscourses-list-courses.columns-3 > li {
		width: calc((100% / 3) - 16px);
	}

	.wp-block-hrscourses-list-courses.columns-4 > li {
		width: calc((100% / 4) - 16px);
	}

	.wp-block-hrscourses-list-courses.columns-5 > li {
		width: calc((100% / 5) - 16px);
	}

	.wp-block-hrscourses-list-courses.columns-6 > li {
		width: calc((100% / 6) - 16px);
	}

}

.wp-block-hrscourses-list-courses__post-date {
	display: block;
	color: #6c7781;
	font-size: inherit; /* 13px */
}

.wp-block-hrscourses-list-courses__post-excerpt,
.wp-block-hrscourses-list-courses.is-style-bulleted .wp-block-hrscourses-list-courses__full_content {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.wp-block-hrscourses-list-courses:not(.is-style-bulleted) .course-title,
.wsuwp-courses-archive .course-title {
	border-left: var(--font-size-1) solid var(--brand-crimson);
	font-size: var(--font-size-4);
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 0.4em;
	padding: 0 0 0 calc(var(--font-size-base) / 2);
}

.wp-block-hrscourses-list-courses.is-style-bulleted .course-title {
	padding: 0;
}

.wp-block-hrscourses-list-courses .svg-icon,
.wsuwp_hrs_courses .svg-icon {
	margin-right: 0.24em;
	padding-right: 0.12em;
	vertical-align: bottom;
}

.wp-block-hrscourses-list-courses .course-documents,
.wsuwp_hrs_courses .course-documents {
	display: flex;
	list-style: none;
	padding: 0;
}

.wp-block-hrscourses-list-courses .course-documents a,
.wsuwp_hrs_courses .course-documents a {
	margin-right: 2em;
}

.wp-block-hrscourses-list-courses .course-meta .label,
.wsuwp_hrs_courses .course-meta .label {
	font-weight: 600;
}
