.wp-block[data-type="hrswpsqlsrv/salary-data"] {
	overflow: auto;
}

.hrswp-sqlsrv-block.wp-block-columns {
	display: flex;
	flex-wrap: wrap;
}

.hrswp-sqlsrv-block.has-1-columns {
	display: block;
}

.hrswp-sqlsrv-block.has-1-columns .wp-block-column {
	margin-left: 0;
}

.hrswp-sqlsrv-block.wp-block-columns ul {
	padding: 0.3em 2em 1em 2em;
}

@media (min-width: 34em) {

	.hrswp-sqlsrv-block.has-2-columns .wp-block-column {
		flex-basis: calc((100% / 2) - 2rem);
	}

	.hrswp-sqlsrv-block.has-3-columns .wp-block-column {
		flex-basis: calc((100% / 3) - 2rem);
	}

	.hrswp-sqlsrv-block.has-4-columns .wp-block-column {
		flex-basis: calc((100% / 4) - 2rem);
	}

	.hrswp-sqlsrv-block.has-5-columns .wp-block-column {
		flex-basis: calc((100% / 5) - 2rem);
	}

	.hrswp-sqlsrv-block.has-6-columns .wp-block-column {
		flex-basis: calc((100% / 6) - 2rem);
	}

}
