.hrswp-sqlsrv-block .awards-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

.hrswp-sqlsrv-block .award-item {
	display: flex;
	flex-direction: column;
	margin: 0 1em 1em 0;
	margin-right: 1em;
	position: relative;
}

.hrswp-sqlsrv-block.has-1-columns .award-item {
	flex-basis: 100%;
}

@media (min-width: 43em) {

	.hrswp-sqlsrv-block.has-2-columns .award-item {
		flex-basis: calc((100% / 2) - 2rem);
	}

	.hrswp-sqlsrv-block.has-3-columns .award-item {
		flex-basis: calc((100% / 3) - 2rem);
	}

	.hrswp-sqlsrv-block.has-4-columns .award-item {
		flex-basis: calc((100% / 4) - 2rem);
	}

	.hrswp-sqlsrv-block.has-5-columns .award-item {
		flex-basis: calc((100% / 5) - 2rem);
	}

	.hrswp-sqlsrv-block.has-6-columns .award-item {
		flex-basis: calc((100% / 6) - 2rem);
	}

}

@supports (position: sticky) {

	.hrswp-sqlsrv-block .award-item figure {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		height: 100%;
	}

	.hrswp-sqlsrv-block.is-cropped .awards-list .award-item img {
		height: 100%;
		flex: 1;
		object-fit: cover;
	}

}

.hrswp-sqlsrv-block .award-item:last-child {
	margin-right: 0;
}
