@import "./global/_variables.css";
@import "./blocks/style.css";

svg.svg-icon {
	transition: fill 0.3s ease;
	fill: currentColor;
}

.wsuwp-courses-archive .taxonomy-description {
	max-width: 45em;
	padding-left: 2rem;
}

.wsuwp-courses-archive .courses-archive-frontmatter {
	margin-right: 2rem;
	margin-left: 2rem;
}

.wsuwp-courses-archive .courses-archive-frontmatter h3 {
	font-size: var(--font-size-3);
}

.wsuwp-courses-archive .courses-archive-frontmatter form {
	margin: 0;
	padding: 0;
}

.wsuwp-courses-archive .courses-archive-frontmatter .search-field[type="search"] {
	font-size: var(--font-size-2);
}

.wsuwp-courses-archive .courses-archive-frontmatter .search-form input[type="submit"] {
	margin-top: 0.5rem;
	padding: 0.4rem 1rem;
}
